* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* INICIO DO SITE*/
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #020032, #00104F, #00326C, #004B89);
    color: #ffffff;
}

header {
    background-color: #b3ff00;
    color: rgb(255, 255, 255);
    padding: 10px 0;
}
.banner{
    text-align: center;
    padding: 10px 0px;
}
h2{
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
/* LINKS HEADER*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    background-color: #006cf8;
    transition: 1s;
    border-radius: 10px;
    width: 40px;
}

/* PARTE DO CARRINHO */
.carrinho{
    text-align:right;
}
.titulocarrinho h2{
    color: #000000;
}
#carrinho {
    max-width: 800px;
    margin: 2rem auto;
    background: white;
    border-radius: 20px;
    color: #000000;
    padding: 1rem;
}

#lista-carrinho {
    list-style: none;
}

#lista-carrinho li {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

#limpar-carrinho {
    background-color: red;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}


/* FIM PARTE DO CARRINHO */

/*Finalizar a compra */
.resumo h2{
    color: white;
    list-style: none;
}
#dados-pagamento form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

#dados-pagamento label {
    margin-top: 10px;
    font-weight: bold;
}

#dados-pagamento input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#dados-pagamento button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#dados-pagamento button:hover {
    background-color: #45a049;
}

/* PARTE PRODUTOS*/
section {
    padding: 20px;
    text-align: center;
}
#home img{
    border-radius: 100px;
}

#produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#produtos1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#produtosandroid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#produtosmoto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.produto {
    background-color: rgb(1, 12, 110);
    color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    width: 250px;
    margin: 10px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
}
/* FIM DOS PRODUTOS */

/* COMEÇO BOTOES DE COMPRA*/
button {
    background-color: #b3ff00;;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    transition: 0.5s;
    background-color: #006cf8;
    color: #000000;
}
/* FIM BOTOES*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}